.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000; /* varmista, että navbar on päällimmäisenä */
}

.navbar-placeholder {
  height: 80px; /* Varmista, että korkeus vastaa navbarin korkeutta */
}

.content {
  padding-top: 80px; /* Varmista, että sisältö ei peitä navbaria */
}


.navbar-hidden {
  display: none;
}

.scroll-top-button {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color: #007bff;
  color: white;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
